:root {

  --background-color: #fffce1;
  --text-color: #222831;
  --button-bg: #007bff;
  --nav-background: #fffce1;
  --button-text: #fffce1;
  --nav-border: #222222;
  --nav-active: #000;
  --active-text: #fffce1;
  --stars-bg: #fffce1;
  --dot-red: #ff0000;
}

[data-theme="dark"] {
  
  
    --background-color: #121212;
    --text-color: #fffce1;
    --button-bg: #1e88e5;
    --nav-background: #121212;
    --button-text: #fffce1;
    --nav-border: #9e9e9e;
    --nav-active: #b6b6b6;
  --active-text: #222831;
  --stars-bg: #020a15;
  --dot-red: #ff0000;



   
}
