@import "../styles/app.css";


body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.theme-toggle:hover {
  color: var(--button-hover-color);
}
